body {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: center;
    background-color: silver;
    background-repeat:no-repeat ;
    background-size: cover;
    background-image: url(azul-caveira-fundo-preto-wallpaper-preview.jpg);
}
table, td{
    margin: auto;
    padding: 50px;
    border-collapse: collapse;
    border: 2px solid #0026ff;
}