body {
    background-color: #43A6A9 !important;
    text-align: center !important; 
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover;
    
    
}
h1 {
 color: white !important; 
}
#topo{
    color: greenyellow;
}
.topo{
    color: greenyellow;
}
span{
    background-color: black;
}
img {
    width: 675px;
    height: 275px;
    display: block;
    margin: auto;
}

 p,div {
    color: rgb(9, 24, 19) !important;   
 }
table,td {
    color: rgb(0, 0, 0) ;
    padding: 2px;
    font-size: 0.8em;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(51, 255, 0);
}

